# Values are always Black's perspective, including ownership. Do not change this.
reportAnalysisWinratesAs = BLACK
numAnalysisThreads = 1
numSearchThreads = 6
nnMaxBatchSize = 8
maxVisits = 400
analysisPVLen = 12
logToStderr = true
